<!DOCTYPE html>

{% load static %}

<html>

<HEAD>



<TITLE>DanWebsites.com!</TITLE>



<META NAME="description" CONTENT="Client list for Dan Long">



<META NAME="keywords" CONTENT="Dan Long,Websites,web sites,web services,web programming,clients">



<!--BEGIN Pop-up Windows Script------------------------------------------>

<SCRIPT Language="JavaScript">

<!--

// Copyright 1999 - 2001 by Ray Stott, Pop-up Windows Script ver 2.0

// OK to use if this copyright is included

// Script is available at http://www.crays.com/jsc          



var popWin = null    // use this when referring to pop-up window

var winCount = 0

var winName = "popWin"

function openPopWin(winURL, winWidth, winHeight, winFeatures, winLeft, winTop){

  var d_winLeft = 20  // default, pixels from screen left to window left

  var d_winTop = 20   // default, pixels from screen top to window top

  winName = "popWin" + winCount++ //unique name for each pop-up window

  closePopWin()           // close any previously opened pop-up window

  if (openPopWin.arguments.length >= 4)  // any additional features? 

    winFeatures = "," + winFeatures

  else 

    winFeatures = "" 

  if (openPopWin.arguments.length == 6)  // location specified

    winFeatures += getLocation(winWidth, winHeight, winLeft, winTop)

  else

    winFeatures += getLocation(winWidth, winHeight, d_winLeft, d_winTop)

  popWin = window.open(winURL, winName, "width=" + winWidth 

           + ",height=" + winHeight + winFeatures)

  }

function closePopWin(){    // close pop-up window if it is open 

  if (navigator.appName != "Microsoft Internet Explorer" 

      || parseInt(navigator.appVersion) >=4) //do not close if early IE

    if(popWin != null) if(!popWin.closed) popWin.close() 

  }

function getLocation(winWidth, winHeight, winLeft, winTop){

  return ""

  }

//-->

</SCRIPT>

<SCRIPT Language="JavaScript1.2">  // for Netscape 4+ and IE 4+

<!--

function getLocation(winWidth, winHeight, winLeft, winTop){

  var winLocation = ""

  if (winLeft < 0)

    winLeft = screen.width - winWidth + winLeft

  if (winTop < 0)

    winTop = screen.height - winHeight + winTop

  if (winTop == "cen")

    winTop = (screen.height - winHeight)/2 - 20

  if (winLeft == "cen")

    winLeft = (screen.width - winWidth)/2

  if (winLeft>0 & winTop>0)

    winLocation =  ",screenX=" + winLeft + ",left=" + winLeft	

                + ",screenY=" + winTop + ",top=" + winTop

  else

    winLocation = ""

  return winLocation

  }

//-->

</SCRIPT>

<!--END Pop-up Windows Script------------------------------------------->

</head>



<body bgcolor=#0099FF link="#FFFFFF" alink="#FFFFFF" vlink="#FFFFFF">

<center>

<img src="/static/images/DanWebsitesNew.jpg"><br>

<!-- ImageReady Slices (Nav.psd) -->
<TABLE WIDTH=800 BORDER=0 CELLPADDING=0 CELLSPACING=0>
  <TR>
    <TD BGCOLOR=#0099FF>
      <IMG src="/static/images/Nav_02.jpg" WIDTH=212 HEIGHT=44></TD>
    <TD BGCOLOR=#0099FF>
      <A HREF="{% url 'index' %}">
        <IMG SRC="/static/images/Nav_03.jpg" WIDTH=103 HEIGHT=44 BORDER=0></A></TD>
    <TD BGCOLOR=#0099FF>
      <A HREF="{% url 'testimonials' %}">
        <IMG SRC="/static/images/Nav_04.jpg" WIDTH=137 HEIGHT=44 BORDER=0></A></TD>
    <TD BGCOLOR=#0099FF>
      <A HREF="{% url 'contact' %}">
        <IMG SRC="/static/images/Nav_05.jpg" WIDTH=141 HEIGHT=44 BORDER=0></A></TD>
    <TD BGCOLOR=#0099FF>
      <A HREF="{% url 'index' %}">
        <IMG SRC="/static/images/Nav_06.jpg" WIDTH=207 HEIGHT=44 BORDER=0></A></TD>
  </TR>
</TABLE>
<!-- End ImageReady Slices -->

<p align="center">
<font face=Arial size="5" color="#FFFFFF">Clients</font>
</p>

        <font face="Arial" color="#ffffff" size="3"><b>GettingYourMoneysWorthNYC.com</b> 

        <br />

        <a href='javascript:openPopWin("http://www.GettingYourMoneysWorthNYC.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.GettingYourMoneysWorthNYC.com</a> 
         <br />

        <br />


        <b>Gregory Miller and Company</b> 

        <br />

        <a href='javascript:openPopWin("http://www.GregoryMillerandCompany.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.GregoryMillerandCompany.com</a> 

        <br />

        <br />

        <b>Central Hudson Valley Chapter (AGO) </b>

        <br />

        <a href='javascript:openPopWin("http://www.CHVAGO.org", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.CHVAGO.org</a> 

        <br />

        <br />

        <font face="Arial" color="#ffffff" size="3"><b>Jenny Lynn Stewart, </b><i>soprano</i> 

        <br />

        <a href='javascript:openPopWin("http://www.ManhattanDiva.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.ManhattanDiva.com</a> 

        <br />

        <br />

        <font face="Arial" color="#ffffff" size="3"><b>Marie Ann Chenevey, </b><i>mezzo soprano</i> 

        <br />

        <a href='javascript:openPopWin("http://marieannchenevey.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://MarieAnnChenevey.com/</a> 

        <br />

        <br />

        <font face="Arial" color="#ffffff" size="3"><b>Bruce Ward, </b><i>actor/playwright</i> 

        <br />

        <a href='javascript:openPopWin("http://www.BruceWardNYC.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.BruceWardNYC.com</a> 

        <br />

        <br />

        <b>BACHorgan.com</b> 

        <br />

        <a href='javascript:openPopWin("http://www.BACHorgan.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.BACHorgan.com</a> 

        <br />

        <br />

        <b>ThirdChurchOrgan.com</b> 

        <br />

        <a href='javascript:openPopWin("http://www.ThirdChurchOrgan.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.ThirdChurchOrgan.com</a> 

        <br />

        <br />

<!--        <b>DanLongMusic.com</b> 

        <br />

        <a href='javascript:openPopWin("http://www.DanLongMusic.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.DanLongMusic.com</a> 

        <br />

        <br /> -->

        <b>KennLong.com</b> 

        <br />

        <a href='javascript:openPopWin("http://www.KennLong.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.KennLong.com</a> 

        <br />

        <br />

        <font face="Arial" color="#ffffff" size="3"><b>NYCity Taste</b> 

        <br />

        <a href='javascript:openPopWin("http://www.nycitytaste.com", 1000, 800, "toolbar,location,directories,status,menubar,scrollbars,resizable", "10", "10")'>http://www.nycitytaste.com</a> 

        <br />

        <br />

        <br />

        </font></font>

        </font>

</body>

</html>

